
@font-face {
  font-family: gameOfThrones;
  src: url("./GoT/Game\ of\ Thrones.ttf");
}
body {
  /* border: 1px solid black; */
  height:100vh;
  width: 100vw;
  background-image: url("./GoT/changeTheme.gif");
  background-size: cover;
  background-color: #6699cc;
  position: fixed;
  margin: 0;
}
.modalContainer {
  /* border: 1px solid red */
  width: 30%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 1;
}
.modalText {
  font-size: 190%;
  font-weight: bold;
  border: 3px ridge #dfe8e4;
  text-align: center;
  padding: 4%;
  background-image: url("./GoT/modal.jpg");
  color: black;
  /* for gif background
  background-image: url("./GoT/firstGif1.gif");
  color: white; */
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.modalButton {
  margin-top: 4%;
  font-weight: bold;
  font-size: 75%;
  text-align: center;
  padding: 2.5%;
}
header {
  /* border: 1px solid hotpink; */
  height: 8vh;
}
.title {
  /* border: 1px solid black; */
  text-align: center;
  line-height: 8vh;
  height: 100%;
  width: 100%;
  font-family: gameOfThrones;
  color: black;
  font-size: 275%;
  padding-top: 1%;
}
main {
  /* border: 1px solid yellow; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
#cardWrapper {
  /* border: 1px solid blue; */
  height: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-content: center;
}
.hidden {
  display: none;
}
.cardContainer {
  /* border: 1px solid red; */
  position: relative;
  height: 30%;
  width: 13%;
  margin: 0.5% 1%;
}
.backImages {
  /* border: 1px solid black; */
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.frontImages {
  /* border: 1px solid blue; */
  background-image: url("./GoT/chair.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.aryaStark {
  background-image: url("./GoT/arya.png");
}
.cerseiLannister {
  background-image: url("./GoT/cersei.png");
}
.hodor {
  background-image: url("./GoT/hodor.png");
}
.jamieLannister {
  background-image: url("./GoT/jamie.png");
}
.tormundGiantsbane {
  background-image: url("./GoT/tormund.png");
}
.daenerysTargaryen {
  background-image: url("./GoT/daenerys.png");
}
.jonSnow {
  background-image: url("./GoT/jonSnow.png");
}
.joffreyBaratheon {
  background-image: url("./GoT/joffrey.png");
}
.tyrionLannister {
  background-image: url("./GoT/tyrion.png");
}
.bottomWrapper {
  /* border: 1px solid rebeccapurple; */
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bottomContainer {
  width: 37%;
  text-align: center;
  font-size: 100%;
  font-family: gameOfThrones;
  font-weight: 1000;
  color: black;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.statsWrapper {
  /* border: 1px solid yellow; */
  background-color: #9b1c31;
  background-image: url("./GoT/statsFire.png");
}
.statsContainer {
  height: 33%;
}
.stats {
  display: inline-block;
  position: relative;
  top: 5%;
}
#gamesPlayed, #attempts, #accuracy {
  display: inline-block;
  font-size: 150%
}
.gifContainer {
  /* border: 1px solid black; */
  width: 10%;
  border-radius: 15px;
  margin: 0% 2%;
}
#quotes, #author {
  opacity: 0;
  transition: opacity 2s;
}
#author.fade {
  opacity: 1;
}
#quotes.fade {
  opacity: 1;
}
.gifSize {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.quotesContainer {
  /* border: 1px solid rebeccapurple; */
  background-color: #015d75;
  background-image: url("./GoT/quotesSnow3.png");
}
#quotes {
  margin-bottom: 2%;
}
.singleLineQuotes {
  position: relative;
  top: 28%;
}
.doubleLineQuotes {
  position: relative;
  top: 14%;
}

  /* ----------- iPad ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-height: 1024px)
  and (orientation: portrait) {
    .title {
      font-size: 500%;
      padding-top: 6%;
    }
    .modalContainer {
      width: 43%;
    }
    .cardContainer {
      height: 20%;
      width: 14%;
      margin: 5.5% 1%;
    }
    .bottomContainer {
      width: 35%;
    }
    .stats {
      top: 25%
    }
    .gifContainer {
      width: 20%;
    }
    #quotes {
      margin-bottom: 3%;
    }
    .singleLineQuotes {
      top:35%;
    }
    .doubleLineQuotes {
      top: 26%;
    }
  }

  /* Landscape */
@media only screen
  /* and (min-device-width: 768px) */
  and (min-device-width: 1024px)
  and (max-device-height: 768px)
  and (orientation: Landscape) {
    .modalContainer {
      width: 40%;
    }
    .title {
      padding-top: 1.5%;
    }
    .bottomContainer {
      width: 36%;
    }
    .gifContainer {
      width: 12%;
    }
  }

  /* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (orientation: portrait) {
    .title {
      padding-top: 6%;
      font-size: 365%;
    }
    #cardWrapper {
      /* margin-bottom: -3%; */
    }
    .cardContainer {
      height: 25%;
      margin: 7.5% 1%;
    }
    .singleLineQuotes {
      top: 30%;
    }
    .doubleLineQuotes {
      top: 24%;
    }
  }

/* Landscape */
@media only screen
  /* and (min-device-width: 375px) */
  and (min-device-width: 812px)
  and (max-device-height: 375px)
  and (orientation: Landscape) {
    .title {
      font-size: 200%;
      padding-top: 0.5%;
    }
    .modalContainer {
      width: 33%;
    }
    .modalText {
      font-size: 140%;
    }
    .modalButton {
      font-size: 70%;
    }
    .bottomContainer {
      font-size: 60%;
      width: 37%;
    }
    .stats {
      top: 0%;
    }
    .gifContainer {
      width: 10%;
    }
    .doubleLineQuotes {
      top: 8%;
    }
  }
/* ----------- iPhone 6, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
    .modalContainer {
      width: 45%;
      top: 30%;
    }
    header {
      height: 6vh;
    }
    .title {
      line-height: 6vh;
      font-size: 450%;
      padding-top: 6%;
    }
    .cardWrapper {
      padding: 1%;
    }
    .cardContainer {
      height: 21%;
      width: 14%;
      margin: 6.5% 1%;
    }
    .bottomContainer {
      font-size: 150%;
      width: 36%;
    }
    .stats {
      top: 25%;
    }
    .gifContainer {
      width: 21%;
    }
    #quotes {
      margin-bottom: 4%;
    }
    .singleLineQuotes {
      top: 33%;
    }
    .doubleLineQuotes {
      top: 20%
    }
  }

/* Landscape */
@media only screen
  /* and (min-device-width: 375px) */
  and (min-device-width: 667px)
  and (max-device-width: 375px)
  and (orientation: Landscape) {
    .modalContainer {
      width: 35%;
    }
    .modalText {
      font-size: 130%;
    }
    .modalButton {
      font-size: 65%;
    }
    .title {
      font-size: 220%;
    }
    .cardContainer {
      margin: 0.5% 1.5%;
    }
    .bottomWrapper {
      height: 15vh;
    }
    .stats {
      font-size: 90%
    }
    .quotesContainer {
      font-size: 100%;
    }
    .doubleLineQuotes {
      font-size: 90%;
    }
  }
