
@font-face {
  font-family: gameOfThrones;
  src: url("./GoT/Game\ of\ Thrones.ttf");
}

body {
  height:100vh;
  width: 100vw;
  background-image: url("./GoT/changeTheme.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6699cc;
  position: fixed;
  /* border: 1px solid black; */
  margin: 0;
  /* background-image: url("./GoT/giphy (1).gif");
  background-size: cover;
  background-repeat: no-repeat; */
}

main {
  height: 90vh;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  border: 1px solid hotpink;
  height: 8vh;
}

.title {
  text-align: center;
  vertical-align: center;
  line-height: 8vh;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  font-family: gameOfThrones;
  color: black;
  font-size: 275%;
}

.bottom-box-container {
  border: 1px solid rebeccapurple;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* position: fixed;
  bottom: 0 */
}

.bottom-box-sizing {
  height: 100%;
  width: 40%;
  text-align: center;
  font-size: 100%;
}
.stats-flex-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: justify; */
  /* display: table; */
  border: 1px solid yellow;
  background-color: #9b1c31;
  border-radius: 15px;
  position: relative;
  /* background-image: url("https://media.giphy.com/media/KfxjdU2sw6X77klGGR/giphy.gif"); */
  background-image: url("./GoT/statsFire.png");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.stats-container {
  /* padding-top: */
  /* display: table-cell; */
  /* vertical-align: top; */
  /* top: 50%; */
  /* position: absolute; */
  /* transform: translateY(-50%); */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  height: 33%;
  /* line-height: 33%; */
  /* vertical-align: middle; */
  /* line-height: normal; */
  /* margin: auto; */
  /* display: inline-block; */
  /* vertical-align: center; */
  /* border: 1px solid black; */
}

.indiv-stats {
  font-weight: 1000;
  font-family: gameOfThrones;
  color: black;
  display: inline-block;
  position: relative;
  top: 5%;
  /* justify-content: center; */
  /* align-content: center; */
  /* vertical-align: middle; */
  /* align-items: center; */
  /* line-height: 33%; */
  /* line-height: normal; */
}

.quotes {
  /* border: 1px solid rebeccapurple; */
  font-family: gameOfThrones;
  font-weight: 700;
  color: black;
  background-color: #015d75;
  border-radius: 15px;
  /* background-image: url("https://media.giphy.com/media/XBwWNIY6WY7g4/giphy.gif"); */
  background-image: url("./GoT/quotesSnow3.png");
  background-size: cover;
  background-position: center;
  /* opacity: 0.8; */
}

#quotes {
  margin-bottom: 2%;
}

.quoteSizing {
  top: 15%
}

#gamesPlayed, #attempts, #accuracy {
  display: inline-block;
  font-size: 150%
}

#cards-flex-container {
  border: 1px solid blue;
  height: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  /* padding-right: 2%;
  padding-left: 2%; */
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
  justify-content: center;
  align-content: stretch;
  /* padding: 2% */
}

.card-container {
  position: relative;
  border: 1px solid red;
  height: 30%;
  width: 13%;
  margin: 0.5% 1%;
  /* flex: 0 1 calc(10% - 8px) */
}

.backImages {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 1px solid black;

}

.lfz-bgi {
  border: 1px solid blue;
  /* background-image: url("./GoT/card_back_03.jpg"); */
  background-image: url("./GoT/chair.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  border-radius: 15px;
  /* transition: transform .5s; */
  /* display: none; */
}

/* .lfz-bgi:hover {
  transform: scale(1.05);
} */

.aryaStark {
  background-image: url("./GoT/arya.png");
}

.cerseiLannister {
  background-image: url("./GoT/cersei.png");
}

.hodor {
  background-image: url("./GoT/hodor.png");
}

.jamieLannister {
  background-image: url("./GoT/jamie.png");
}

.tormundGiantsbane {
  background-image: url("./GoT/tormund.png");
}

.daenerysTargaryen {
  background-image: url("./GoT/daenerys.png");
}

.jonSnow {
  background-image: url("./GoT/jonSnow.png");
}

.joffreyBaratheon {
  background-image: url("./GoT/joffrey.png");
}

.tyrionLannister {
  background-image: url("./GoT/tyrion.png");
}

.hidden {
  display: none;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  /* 45% { opacity: 0.5; } */
  100% { opacity: 1; }
}

.styleDouble {
  position: relative;
  top: 14%;
  /* border: 1px solid black; */
}

.style {
  position: relative;
  top: 25%;
  /* border: 1px solid black; */

  /* animation: fadeInOut 2 */

  /* -webkit-animation: fadeInOut 2s infinite; */
  /* animation: fadeInOut 2.5s ease-in-out backwards; */

  /* animation-name: fadeInOut;
 	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s; */

  /* opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 0.325s;
  animation-duration: 0.750s;
  animation-fill-mode: forwards; */

  /* visibility: visible;
  opacity: 1;
  transition: opacity 2s ease-in; */
}

.winCondition {
  width: 25%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 1;
  /* border: 1px solid red */
}

.winText {
  font-size: 150%;
  font-weight: bold;
  border: 3px ridge #dfe8e4;
  color: black;
  text-align: center;
  padding: 4%;
  background-image: url("./GoT/modal.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.winButton {
  margin-top: 4%;
  font-weight: bold;
  font-size: 75%;
  text-align: center;
  padding: 2.5%;
  /* background-color: #dfe8e4; */
}


/* ----------- iPhone 6, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
    header {
      height: 6vh;
    }
    .title {
      line-height: 6vh;
      font-size: 300%;
    }
    main {
      height: 80vh;
    }
    .winCondition {
      width: 50%;
      top: 30%;
    }
    .indiv-stats {
      top: 25%;
    }
    .style {
      top: 33%;
    }
    .styleDouble {
      top: 30%
    }
    .card-container {
      height: 28%;
      width: 14%;
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: Landscape) {
    .title {
      font-size: 220%;
    }
    .bottom-box-container {
      height: 15vh;
    }
    .indiv-stats {
      font-size: 90%
    }
    .quotes {
      font-size: 100%;
    }
    .styleDouble {
      font-size: 90%;
    }
    .winCondition {
      width: 40%;
    }
    .winText {
      font-size: 130%;
    }
    .winButton {
      font-size: 65%;
    }
  }
