
@font-face {
  font-family: gameOfThrones;
  src: url("./assets/Game\ of\ Thrones.ttf");
}
body {
  font-family: gameOfThrones;
  height:100vh;
  width: 100vw;
  background-image: url("./assets/bodyBackground.gif");
  background-size: cover;
  background-color: #6699cc;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.welcomeModalContainer {
  background-image: url("./assets/welcomeModal.gif");
  background-size: cover;
  border: 3px ridge #dfe8e4;
  width: 30%;
  height: 45%;

  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 1;
}
.welcomeModal {
  padding: 2%;
  margin-bottom: 0.5%;
  font-size: 120%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}
.welcomeButtonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.welcomeButton {
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  font-size: 90%;
  margin: auto;
  width: 40%;
  text-align: center;
  color: white;
  border: 1px solid white;
  margin-bottom: 2%;
  border-radius: 15%;
}
.welcomeButton:hover, .modalButton:hover {
  background-color: #e0fbfc;
  color: black;
  text-shadow: 1px 1px #e0fbfc;

}
.modalContainer {
  width: 26%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 1;
}
.modalText {
  font-size: 120%;
  font-weight: bold;
  border: 3px ridge #dfe8e4;
  text-align: center;
  padding: 4%;
  background-image: url("./assets/modal.jpg");
  color: whitesmoke;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  text-shadow: 1px 1px black;
}
.modalButton {
  border-radius: 15%;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  width: 33%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  /* font-weight: bold; */
  font-size: 55%;
  text-align: center;
  padding: 2.5%;
  text-shadow: 1px 1px black;
}
header {
  height: 8vh;
    /* border: 1px solid black; */

}
.title {
  /* border: 1px solid black; */
  text-align: center;
  line-height: 10vh;
  margin: auto;
  height: 100%;
  width: 88%;
  font-family: gameOfThrones;
  color: black;
  font-size: 350%;
  position: relative;
}

#mute {
  float: right;
  text-align: center;
  line-height: 10vh;
  position: absolute;
  top: 0%;
  left: 98.5%;
  /* width: 100%; */
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
#cardWrapper {
  height: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-content: center;
}
.hidden {
  display: none;
}
.cardContainer {
  position: relative;
  height: 30%;
  width: 11%;
  margin: 0.5% 2.2%;
}
.backImages {
  height: 100%;
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.frontImages {
  background-image: url("./assets/chair.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transition: all .2s ease-in-out;
  /* display: none; */
}
.frontImages:hover {
  transform: scale(1.08);
}
.aryaStark {
  background-image: url("./assets/arya.png");
}
.cerseiLannister {
  background-image: url("./assets/cersei.png");
}
.hodor {
  background-image: url("./assets/hodor.png");
}
.jamieLannister {
  background-image: url("./assets/jamie.png");
}
.tormundGiantsbane {
  background-image: url("./assets/tormund.png");
}
.daenerysTargaryen {
  background-image: url("./assets/daenerys.png");
}
.jonSnow {
  background-image: url("./assets/jonSnow.png");
}
.joffreyBaratheon {
  background-image: url("./assets/joffrey.png");
}
.tyrionLannister {
  background-image: url("./assets/tyrion.png");
}
.bottomWrapper {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 2px 2px silver;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 34%;
  text-align: center;
  font-size: 100%;
  font-family: gameOfThrones;
  font-weight: 1000;
  color: black;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.statsWrapper {
  background-color: #9b1c31;
  background-image: url("./assets/stats.png");
}
.stats {
  margin: auto;
}
#gamesPlayed, #attempts, #accuracy {
  display: inline-block;
  font-size: 150%
}
.gifContainer {
  height: 100%;
  width: 8%;
  border-radius: 15px;
}
.gifSize {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.quotesContainer {
  background-color: #04195b;
  background-image: url("./assets/quotes.png");
}
.singleLineQuotes {
  /* position: relative; */
  /* top: 28%; */
}
.doubleLineQuotes {
  /* position: relative; */
  /* top: 14%; */
}

 /* ----------- Thinkpad x250 ----------- */
@media only screen
  and (max-width: 1366px)
  and (orientation: landscape) {
        .title {
          font-size: 290%;
          line-height: 6vh;
        }
        .modalContainer {
          width: 36%;
        }
        .cardContainer {
          width: 11%;
          margin: 0.5% 2.2%;
        }
        .bottomContainer {
          font-size: 80%
        }
  }

  /* ----------- iPad ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-height: 1024px)
  and (orientation: portrait) {
    .title {
      font-size: 500%;
      padding-top: 4%;
    }
    .modalContainer {
      width: 45%;
    }
    .cardContainer {
      height: 22%;
      width: 14%;
      margin: 5.5% 1%;
    }
    .bottomContainer {
      width: 35%;
    }
    .stats {
      top: 20%;
    }
    .gifContainer {
      width: 20%;
    }
    #quotes {
      margin-bottom: 3%;
    }
    .singleLineQuotes {
      top:35%;
    }
    .doubleLineQuotes {
      top: 26%;
    }
  }

/* Landscape */
@media only screen
  and (max-device-width: 1024px)
  and (max-device-height: 768px)
  and (orientation: Landscape) {
    .modalContainer {
      width: 45%;
    }
    .title {
      padding-top: 1.5%;
      font-size: 380%;
    }
    .bottomContainer {
      width: 36%;
    }
    .stats {
      top: 0%;
    }
    .gifContainer {
      width: 12%;
    }
    .doubleLineQuotes {
      font-size: 90%;
      top: 15%;
    }
  }

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (orientation: portrait) {
    .title {
      padding-top: 3%;
      font-size: 450%;
    }
    .modalContainer {
      width: 50%;
    }
    .cardContainer {
      height: 15%;
      width: 20%;
      margin: 1.5% 6.6%;
    }
    .bottomWrapper {
      margin-top: 1%;
    }
    .bottomContainer {
      width: 32%;
      font-size: 120%
    }
    .stats {
      top: 27%;
    }
    .gifContainer {
      width: 24%;
    }
    .quotesContainer {
      font-size: 120%;
    }
    #quotes {
      margin-bottom: 4%;
    }
    .singleLineQuotes {
      top: 39%;
    }
    .doubleLineQuotes {
      top: 28%;
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 812px)
  and (max-device-height: 375px)
  and (orientation: Landscape) {
    .title {
      font-size: 200%;
      padding-top: 0.5%;
    }
    .modalContainer {
      width: 35%;
    }
    .modalText {
      font-size: 140%;
    }
    .modalButton {
      font-size: 60%;
    }
    .bottomContainer {
      font-size: 60%;
      width: 37%;
    }
    .gifContainer {
      width: 10%;
    }
    .singleLineQuotes {
      top: 20%;
    }
    .doubleLineQuotes {
      top: 8%;
    }
  }

/* ----------- iPhone 6, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
    .modalContainer {
      width: 50%;
      top: 30%;
    }
    header {
      height: 6vh;
    }
    .title {
      line-height: 6vh;
      font-size: 450%;
      padding-top: 1%;
    }
    #cardWrapper {
      padding: 1%;
      height: 100%;
    }
    .cardContainer {
      height: 15%;
      width: 25%;
      margin: 1.5% 4%;
    }
    .bottomWrapper {
      font-size: 112%;
    }
    .bottomContainer {
      width: 36%;
    }
    .stats {
      top: 11%;
    }
    .gifContainer {
      width: 21%;
    }
    #quotes {
      margin-bottom: 4%;
    }
    .singleLineQuotes {
      top: 29%;
    }
    .doubleLineQuotes {
      top: 14%
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 667px)
  and (max-device-height: 375px)
  and (orientation: Landscape) {
    .modalContainer {
      width: 35%;
    }
    .modalText {
      font-size: 130%;
    }
    .modalButton {
      font-size: 65%;
    }
    .title {
      font-size: 220%;
    }
    .cardContainer {
      margin: 0.5% 1.5%;
    }
    .bottomWrapper {
      height: 15vh;
    }
    .gifContainer {
      width: 16%;
    }
    .singleLineQuotes {
      top: 24%;
    }
    .doubleLineQuotes {
      font-size: 90%;
    }
  }
